<form method="post" >
	{% csrf_token %}
	<div class="form">
		<b style="color:#000033;">Password:	</b><br>
		<input type="email" name="email" placeholder="Your E-mail Address *" style="width:400px"> <br> <br>
		<b style="color:#000033;">Repeat-paasword	</b><br>
		<input type="email" name="email" placeholder="Your E-mail Address *" style="width:400px">
		
		
		{% comment %} <div class="text-right p-t-8 p-b-31 " style='float:left;'>
			<a href="#">
				Submit
			</a>
		</div>
		<br> {% endcomment %}
		
		<input type="submit" class="clearfix btn" value="Submit" style=" background:#0d0d0d;color:white;font-weight:bold;"  >


	</div>

</form>